
.card {
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

/* Image Style */
.card-image img {
    object-fit: cover;
    height: 200px;
}

/* Card Content */

.card-content p{
    display: inline-block;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Card Action */
.card-action a {
    font-size: 1.1rem;
    color: #00796b;
    font-weight: 600;
}